#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    min-width: 100%;
    min-height: 100%;
}

#nav {

}

#contentContainer {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    background-color: black;
    width: 0;
    box-sizing: border-box;
}

.contentCard {
    border-radius: 12px;
    width: 1280px;
    height: 640px;
    box-sizing: border-box;
    /*border: #FFFFFF 2px solid;*/
}

#mainImage {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;
    max-width: 100%;
    max-height: 100%;

    border-radius: 12px;
}


#imageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*top: 130%;*/
    bottom: -5%;
    left: 0;
    right: 0;
    background: none;
    z-index: 1;
}

#imageText {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.96px;
    line-break: strict;
    line-height: 54px;
    overflow-wrap: anywhere;
    text-align: center;
    white-space: pre-line;
}

#imageButton {
    box-sizing: border-box;
    background-color: white;
    outline: 0;
    border: #FFFFFF none;
    border-radius: 1000px;

    height: 56px;
    width: 158px;
    padding: 14px 32px 14px 32px;
    margin-top: 16px;

    font-size: 18px;
}

#imageButtonText {
    font-size: 18px;
    /*font-weight: 800;*/
    font-weight: 600;
    background-image: linear-gradient(
            90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%) !important;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    /*-webkit-line-clamp: 6;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: clip !important;*/

    /*color: #222222;*/
}

#locationCardContainer {
    background-color: #FFFFFF;

    margin-top: 96px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding-bottom: 48px;
}

#locationCardWrapper {
    display: flex;
    justify-content: space-around;
}

.locationCard {
    display: flex;
    flex-direction: column;

    height: 402px;
    width: 302px;

    /*border: #e61f51 2px solid;*/

    /*margin-left: 8px;*/
    /*margin-right: 8px;*/

    border-radius: 12px;
}

.locationCardImage {
    border-radius: 12px 12px 0 0;
    height: 202px;
    width: 302px;
}

.locationTextContainer {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 16px;

    width: 270px;
    height: 162px;

    color: white;
}

.locationCardCity {
    font-size: 35px;
    font-weight: 600;
    color: white;
    /*padding-top: 24px;*/
    /*padding-left: 16px;*/
    height: 51px;
    line-height: 39px;
    padding-bottom: 12px;
    box-sizing: border-box;

}

.locationCardDistance {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: normal;
    line-break: strict;
    white-space: pre-line;
}

#location1 {
    background-color: #BC196D;
}

#location2 {
    background-color: #DD3150;
}

#location3 {
    background-color: #CC2D4A;
}

#location4 {
    background-color: #D93A30;
}

#locationHeader {
    font-size: 42px;
    letter-spacing: -0.84px;
    line-height: 47px;
    padding-bottom: 48px;
}

#footerContainer {

}

/*2080, 1440, 1128, 744, 375*/
@media screen and (min-width: 744px) {
    #nav {
        width: 0;
    }

    #contentContainer {
        max-width: 1280px;
        min-width: 1280px;
        min-height: 100%;
    }

    #footerContainer {
        width: 0;
    }
}