#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 80px;
    max-height: 80px;
    /*width: 100vw;*/
    max-width: 1600px;
    padding-left: 80px;
    padding-right: 80px;

    background-color: #FFFFFF;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    box-shadow: 0 2px 10px -3px #DDDDDD;
}

#logoDiv {
    width: 626px;
}

#buttonContainer {
    display: flex;

    justify-content: center;
    align-items: center;
}

#becomeHostButton {
    box-sizing: border-box;
    display: flex;
    color: #222222;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    padding: 12px;
    border-radius: 22px;

    align-items: center;
    justify-content: center;
}

#becomeHostButton:hover {
    background-color: #F7F7F7;
}

#hostLink {
    color: #222222;
    text-decoration: none;
}

#globeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 46px;
    height: 42px;

    margin-right: 8px;
}

#globeDiv:hover {
    /*background-color: #2B2B2B;*/
    background-color: #F7F7F7;
}

#profileDiv {
    box-sizing: border-box;

    width: 77px;
    height: 42px;
    padding: 5px 5px 5px 12px;

    background-color: #FFFFFF;

    border: 1px solid #DDDDDD;
    border-radius: 22px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

#profileDiv:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    transition: box-shadow 0.2s ease;
}

#menuSVG {}

#profileSVG {
    margin-left: 12px;
}