body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#spot-pageframe {
	max-width: none;
	padding-left: 80px;
	padding-right: 80px;

	display: flex;
	flex-direction: column;
	margin: auto;
	/* align-items: center; */
	box-sizing: border-box;
}

#spot-heading {
	max-width: 1128px;
	min-width: 1128px;

	display: flex;
	flex-direction: column;
}

#spot-name-h1 {
	color: #222222;
	font-size: 26px;
	line-height: 30px;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif !important;
	margin: 0px;
	padding: 0px;
}

#spot-heading > span {
	margin-top: 4px;

	color: #717171;
}

#spot-img-div {
	border: 0px;
	border-radius: 12px;
	width: 1128px;

	max-height: 564px;
	padding-top: 24px;
}

#spot-img-div > img {
	width: 1128px;
	max-height: 564px;

	border-radius: 12px;
}

#spot-info {
	display: flex;
	flex-direction: row;

	max-width: 1128px;
	height: 1000px;
	padding-top: 48px;

	font-size: 16px;
}

#spot-info-left {
	/* border: 3px blue solid; */
	width: 58.33333%;
	margin-left: 0%;
	margin-right: 0%;
}

#spot-description {
	padding-top: 32px;
	padding-bottom: 48px;
}

#spot-info-right {
	position: relative;
	/* POSITION FOR THE BOOKING FORM ITSELF SHOULD BE STICKY" */
	width: 33.333333%;
	margin-left: 8.3333%;
	margin-right: 0%;
}

.linebreak-divider {
	/* border: 1px #ebebeb solid; */

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dddddd;
}
